.tabbar {
  display: inline-flex;
  list-style: none;
  padding: 0;
  position: relative;

  .formatted-li {
    a {
      border-bottom: 0;
      cursor: pointer;
      margin: 0 10px;
      padding: 17px;
      position: relative;

      &:hover {
        border-bottom: 0;
      }

      span {
        color: $gray;
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        transition: color .3s ease;

        &::after {
          background: $light-gray;
          border-radius: 2px;
          bottom: 0;
          content: '';
          display: block;
          height: 4px;
          left: 0;
          position: absolute;
          transition: backgroundColor .3s ease;
          width: 100%;
        }
      }
    }

    &.active {
      a {
        span {
          color: $black;

          &::after {
            background: $black;
          }
        }
      }
    }

    &:hover {
      a {
        span {
          color: $black;
        }
      }
    }
  }

  &::before {
    background: $light-gray;
    border-radius: 2px;
    bottom: 0;
    content: '';
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    transition: backgroundColor .3s ease;
    width: 100%;
  }
}
