.accordion-filter-item {

    .accordion-filter-button {
        @include body-4-bold;
        color: $color-black-1;
        overflow-anchor: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
        background: none;
    }
    

    &:after {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      margin-left: auto;
      content: '';
      background-image: url('~/assets/img/icons/arrow-down-gray2.svg');
      background-repeat: no-repeat;
      background-size: 20px;
      transition: transform 0.2s ease-in-out;
    }
}
