.idea
settings.json
.DS_Store
.output
.vscode
.vscode/*
vendor/
public/storage
node_modules/
npm-debug.log
yarn-error.log
.yarn
.env
frontend/.env
# Laravel 4 specific
bootstrap/compiled.php
bootstrap/app.php
# Laravel 5 & Lumen specific
public/hot
config/filesystem.php
# Laravel 5 & Lumen specific with changed public path
public_html/hot

.nuxt/*

Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

vendor
.php-cs-fixer.cache
admin/.eslintcache

storage/api-docs/api-docs.json

.phpstorm.meta.php
_ide_helper_models.php
_ide_helper.php
.idea
settings.json
.DS_Store
.output
.vscode
.vscode/*
vendor/
public/storage
node_modules/
npm-debug.log
yarn-error.log
.yarn
frontend/.env
# Laravel 4 specific
bootstrap/compiled.php
bootstrap/app.php
# Laravel 5 & Lumen specific
public/hot
config/filesystem.php
# Laravel 5 & Lumen specific with changed public path
public_html/hot

Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

vendor
.php-cs-fixer.cache
admin/.eslintcache

storage/api-docs/api-docs.json
.nuxt/*
*.env
.eslintcache
.env
