.promotions-category-page
  font-family: $font-montserrat
  &-title
    &-content
      font-weight: $bold
      @include body-19
      color: $black
      max-width: 450px
    &-before,
    &-after
      flex: 1
      border-top: 1px solid $black
      img
        width: 40px
      .entries-label
        color: $black
      .entries-score
        color: $color-ui-warning
  .main-image
    height: 365px
  .terms-and-conditions
    &::before,
    &::after
      content: ''
      display: block
      flex: 1
      height: 1px
      background: $black
    a
      color: $black
  .shop-now
    .body-1-bold
      color: $color-blue-20
    .body-3-regular
      width: 450px
    .btn.btn-dark
      @include body-2
      background: $color-blue-20
      border-color: $color-blue-20
      font-weight: $normal
      height: 41px
  .promos-types
    max-width: 750px
    .promo-type
      &-img
        width: 150px
        height: 150px
        &::before
          content: ''
          display: block
          border-radius: 50%
          width: 120px
          height: 120px
          margin: 15px
          background: $color-ui-light
        img
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          max-width: 150px
      &-title
        color: $color-ui-warning
        font-weight: $medium
        @include body-2
  .owl-nav
    position: absolute
    top: 50%
    z-index: 100
    transform: translateY(-50%)
    img
      width: 50px
    &.owl-next
      right: 0
    &.owl-prev
      left: 0
  .faq
    max-width: 800px
    border: 0.5px solid $color-gray-47
    border-radius: 8px
  .invite-friends
    background: $white-5
    .heading-2-bold
      color: $color-blue-2
    input
      @include body-5
      background: $white
      border-radius: 4px
      width: 270px
      padding: 0.8em 1em
    .description
      font-weight: $medium
      @include body-18
      letter-spacing: -0.02em
      text-transform: capitalize
    .send-btn
      font-weight: $medium
      @include body-4
      height: 42px
      background: $color-blue-2
      border: $color-blue-2

.h-500
  height: 500px
