$product-hover-bg-color: rgba(211, 211, 211, .1);

.create-trade-listing {
  .title {
    border-bottom: 2px solid $gray;
    font-weight: 600;
    margin-top: -.5em;
    padding: 0 10px 10px;
  }

  .btn-outline-dark {
    font-size: 17px;
    font-weight: 700;
    height: 42px;
    line-height: 20px;
    padding-bottom: 10px;
    padding-top: 10px;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  .select-trade-view {
    .search-result {
      .products {
        padding: 0 10px;
        width: 100%;
      }

      .product {
        align-items: center;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        margin-top: 10px;
        padding: 10px 30px;
        width: 100%;

        &:hover {
          background-color: $product-hover-bg-color;
        }

        img {
          height: 100px;
          margin-right: 70px;
          padding: 0;
        }

        &-name {
          color: $dark-gray;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }

  .create-trade-view {
    .product-details {
      &-title {
        color: $black;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
      }

      &-sku {
        color: $black;
        font-size: 20px;
        line-height: 24px;
      }

      .product-image {
        height: auto;
        margin: 0 0 20px;
        max-width: 100%;
        text-align: center;
        width: 100%;

        img {
          height: 240px;
        }
      }

    }

    .d-flex {
      margin: 0 -12px;

      .form-input {
        margin: 12px;
        width: calc(33.3% - 24px);
      }

      .form-checkbox {
        margin: 12px;
        width: calc(33.3% - 24px);
      }
    }

    .suggested-products {
      margin: 0 1em 1em;

      .owl-carousel {
        display: block;
      }
    }

    .owl-nav {
      margin: 0;

      .owl-prev,
      .owl-next {
        left: -1em;
        position: absolute;
        top: 40%;
        transform: translate(-50%, -50%);

        &.owl-next {
          left: auto;
          right: -2em;
        }

        span {
          font-size: 30px;
        }
      }
    }


    .form-input {
      label {
        margin-bottom: 0;
      }

      input,
      select {
        border: 1px solid $black;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
        height: 36px;
        padding: .3em .8em;
        width: 100%;
      }
    }

    .form-checkbox {
      align-items: center;
      display: flex;
      padding-top: 20px;

      label {
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        margin: 0 0 0 8px;
      }

      input {
        transform: scale(1.3);
      }
    }

    .formatted-ul.tabbar {
      margin-top: 30px;
      width: 100%;

      .formatted-li {
        text-align: center;
        width: 33.3%;

        a {
          padding: 8px;

          span {
            font-size: 15px;
            font-weight: 700;
            line-height: 18px;
          }
        }
      }
    }

    .owl-carousel {
      .carousel-product {
        margin: 0 5px;

        img {
          width: 100%;
        }

        .product-title {
          display: block;
          font-size: 12px;
          font-weight: 700;
          line-height: 15px;
          text-align: center;
        }
      }
    }

    .looking-for-title {
      border-bottom: 1px solid $gray;
      color: $black;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      padding-bottom: .4em;
    }

    .looking-for-products {
      margin: 12px 0 30px;
      padding: 3px;
      position: relative;

      .rounded-search-input {
        margin: 0;
        position: relative;
        z-index: 2;
      }

      .search-result {
        background: $white-3;
        border: 1px solid $black;
        border-radius: 19px;
        box-sizing: border-box;
        display: none;
        left: 0;
        overflow-y: auto;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
      }

      &.show {
        .rounded-search-input {
          background-color: $white;
        }
      }

      &.show .search-result {
        display: block;
        padding: 50px 3px 15px;

        .products {
          max-height: 250px;
          overflow-y: auto;

          .product {
            margin: 10px;

            img {
              margin-right: 30px;
              width: 60px;
            }

            .product-name {
              color: $dark-gray;
              font-size: 12px;
              line-height: 14px;
            }

            &:hover {
              background-color: $white;
              cursor: pointer;
            }
          }
        }
      }
    }

    .found-products {
      .product {
        margin-bottom: 1em;

        .d-flex {
          align-items: center;
          justify-content: space-between;
          margin: 0;
          width: 100%;
        }

        img {
          height: 80px;
          margin-right: 20px;
        }

        .product-name {
          color: $dark-gray;
          font-size: 12px;
          line-height: 14px;
        }

        .remove-btn {
          color: $red-1;
          cursor: pointer;
          font-size: 12px;
          font-weight: 600;
          line-height: 14px;
        }

        select {
          border-radius: 5px;
          padding: 7px 8px;
          width: 160px;
        }
      }
    }

    .wants-products {
      background: $white-3;
      border-radius: 5px;
      padding: 12px;

      td {
        padding: 5px;
      }

      .title {
        border-bottom: 1px solid $gray;
        color: $black;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        padding-bottom: .4em;
      }

      .content {
        color: $dark-gray;
        font-size: 15px;
        line-height: 18px;
        min-height: 180px;
        padding: .5em 0;

        .empty {
          font-style: italic;
        }

        .remove-btn {
          color: $red-1;
          cursor: pointer;
          font-size: 12px;
          font-weight: 600;
          line-height: 14px;
        }
      }
    }
  }

  .confirm-trade-view {
    .trades-table-container {
      height: 500px;
    }

    .trades-table {
      th,
      td {
        text-align: center;
        vertical-align: middle;

        .product-image {
          height: 70px;
          width: 70px;
        }

        .view-offers-btn {
          white-space: nowrap;
        }

        .view-offers {
          color: $black;
          text-decoration: underline;
        }

        .status.not-started {
          color: $gray;
        }
      }

      th {
        border-top: 0;
        font-weight: bold;
      }
    }

    .back-btn {
      height: 40px;
      width: 300px;
    }

    .post-list-btn {
      background-color: $black;
      height: 40px;
      width: 300px;
    }
  }

  .thanks-trade-view {
    margin: auto;
    max-width: 820px;
    text-align: center;

    .thanks-view-title {
      color: $black;
      font-size: 20px;
      font-weight: bold;
      line-height: 21px;
    }

    .thanks-view-content {
      background: $light-gray-2;
      border-radius: 5px;
      height: 300px;
    }

    .btn {
      align-items: center;
      display: inline-flex;
      height: 42px;
      justify-content: center;
      width: 450px;
    }
  }
}
