.sale-confirm {
  &-image {
    background: $light-gray-2;
    border-radius: 5px;
    height: 300px;
  }

  &-container {
    max-width: 840px;
  }

  &-title,
  &-subtitle {
    color: $black;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }

  &-title {
    border-bottom: 1px solid $gray;
    font-weight: 700;
    padding: 18px 5px;
  }

  &-description {
    color: $dark-gray;
    font-size: 18px;
    line-height: 21px;
  }

  &-btn {
    background: $black;
    border: 1px solid $black;
    border-radius: 5px;
    color: $white;
    font-size: 20px;
    font-weight: 700;
    height: auto;
    line-height: 24px;
    margin: auto;
    max-width: 480px;
    padding: .5em 1.5em;
    width: 100%;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}
