.inventory-table {
  th {
    color: $black;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
  }

  td {
    color: $black;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;

    input {
      &[type='checkbox'] {
        margin: 0;
        transform: translate(-50%, -50%);
      }
    }

    .bid {
      color: $black;
    }

    .trade {
      color: $secondary;
    }

    .auction {
      color: $primary;
    }

    a {
      &.view-offers {
        color: $black;
        position: relative;
        text-decoration: none;
        transform: opacity .3s ease;

        &:hover {
          opacity: .6;
        }

        &::after {
          background-image: url('~/assets/img/icons/right-arrow.svg');
          background-position: right center;
          background-repeat: no-repeat;
          background-size: auto 14px;
          content: '';
          display: block;
          height: 100%;
          left: 102%;
          position: absolute;
          top: 1px;
          width: 10px;
        }

        &::before {
          background: $black;
          bottom: 0;
          content: '';
          display: block;
          height: 2px;
          left: 0;
          position: absolute;
          width: 100%;
        }
      }
    }
  }

  .product {
    .form-check-input {
      margin: 0;
      position: static;
    }

    &-name {
      color: $black;
      font-size: 15px;
      font-weight: 600;
      line-height: 18px;
    }

    &-sku {
      color: $dark-gray;
      font-size: 12px;
      line-height: 14px;
    }

    &-image {
      height: 100px;
      width: 100px;
    }
  }
}

.delete-listing-product {
  cursor: pointer;
}

.inventory-pagination {
  li {
    button {
      background-color: $white;
      border: 1px solid $white-2;
      color: $black;
      display: block;
      line-height: 1.25;
      margin-left: -1px;
      padding: .5rem .75rem;
      position: relative;

      &:hover {
        text-decoration: none;
      }
    }

    &:first-child {
      button {
        border-bottom-left-radius: .25rem;
        border-top-left-radius: .25rem;
        margin-left: 0;
      }
    }

    &:last-child {
      button {
        border-bottom-right-radius: .25rem;
        border-top-right-radius: .25rem;
      }
    }

    &.disabled {
      button {
        background-color: $white;
        border-color: $white-2;
        color: $dark-gray;
        cursor: auto;
        pointer-events: none;
      }
    }

    &.active {
      button {
        background-color: $black;
        border-color: $black;
        color: $white;
        z-index: 3;
      }
    }
  }
}
