.edit-label
  font-family: $font-montserrat
  font-weight: 500
  font-size: 15px
  line-height: 18px
  color: $color-blue-20

.delete-label
  font-family: $font-montserrat
  font-weight: 500
  font-size: 15px
  line-height: 18px
  color: $color-red-24