.container-wishlists {
  // max-width: 1024px;
  padding: 16px;
  @media (min-width: 576px) {
    padding: 30px 40px;
  }

  .section-no-list {
    p {
      @include body-4-medium;
      color: $color-gray-5;
    }
  }

  .header {
    min-height: 61px;
  }

  .title {
    h2 {
      @include heading-2;
    }

    span {
      @include body-5-normal;
      margin-top: 9px;
    }
  }

  .btn-categories {
    margin: 20px 0;
  }

  .btn-edit {
    .btn {
      @include body-4-normal;
      color: $color-blue-1;
    }

    ul {
      border: 0.2px solid $color-gray-4;
      border-radius: 8px;
      color: $color-black-1 !important;
      margin-top: -34px;
      padding: 0;

      li > a {
        @include body-4-normal;
        align-items: center;
        background: none !important;
        display: flex;
        padding: 20px 26px;

        &:hover {
          color: $color-blue-1;
        }

        img {
          height: 26px;
          margin-right: 14px;
          width: 28px;
        }
      }

      li:last-child a {
        background-color: $color-gray-1 !important;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }

      li:not(:last-child) {
        border-bottom: 0.2px solid $color-gray-4;
      }
    }
  }

  .section-lists {
    margin-right: 60px;
    max-height: 700px;
    min-width: 166px;
    overflow-y: scroll;
    @media (max-width: 576px) {
      margin-right: 0;
    }

    &.mt {
      margin-top: 73px;
    }

    h5 {
      @include body-4-bold;
      margin-bottom: 18px;
    }

    .share-block {
      margin-top: 6px;
      padding: 10px;

      h6 {
        @include body-5-bold;
        margin-bottom: 10px;
      }
    }

    .btn.btn-link {
      @include body-5-normal;
      display: block;
      margin-bottom: 2px;
      padding: 10px;
      text-align: left;
      width: 100%;

      &.active {
        background-color: $color-gray-1;
        border-radius: 8px;
      }
    }
  }

  .section-items {
    .card-container {
      flex: 0 0 100%;
      margin-bottom: 98px;
      max-width: 100%;

      @media (min-width: 1030px) {
        flex: 0 0 50%;
        max-width: 50%;
      }

      @media (min-width: 1280px) {
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }

      @media (min-width: 1525px) {
        flex: 0 0 25%;
        max-width: 25%;
      }

      @media (min-width: 1800px) {
        flex: 0 0 20%;
        max-width: 20%;
      }
    }
  }

  .mt-m1 {
    margin-top: -47px;
  }

  .action-container {
    margin: 0 auto;
    width: 254px;

    .btn {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  .bulk-select-section {
    margin: 20px 0;
  }
}

.create-list-modal {
  .modal-header {
    align-items: center;
    border-bottom: 0.5px solid $color-gray-4;
    display: flex;
    justify-content: space-between;

    h5 {
      @include body-3-bold;
      margin: 0;
    }
  }

  .modal-body {
    text-align: left;

    label {
      @include body-5-medium;
    }

    .form-text {
      @include body-5-regular;
      color: $color-black-1 !important;
    }

    .body-text {
      @include body-4-regular;
      color: $color-black-1;
    }

    .img-product {
      width: 107px;
    }

    .product-title {
      @include body-4-medium;
      color: $color-black-1;
    }

    .product-color {
      @include body-4-regular;
      color: $color-gray-5;
    }
  }
}
