@import 'typography';

$font-montserrat-serif: 'Montserrat', 'sans-serif';
$font-family-base: 'Montserrat', 'San Francisco', sans-serif;
$font-sp-pro: 'SF Pro Display';
$font-sf-pro-text: 'SF Pro Text';
$font-montserrat: 'Montserrat';
$font-family-garamond: 'Adobe Garamond Pro';
$font-adobe-garamond-pro: 'Adobe Garamond Pro Regular';
$font-family-montserrat: 'Montserrat';
$font-family-sf-pro-display: 'SF Pro Display';
$font-family-sf-pro-text: 'SF Pro Text';
$font-family-futura: 'Futura';
$font-family-impact: 'Impact';
$font-family-proxima-nova: sans-serif, 'Proxima Nova';

$color-black-1: #000;
$color-black-2: #0c0c0c;
$color-black-3: #0e0404;
$color-black-4: #313131;
$color-black-5: #1d1c1d;
$color-black-6: #212529;
$color-black-7: #31343d;
$color-black-8: rgba(0, 0, 0, 0.125);
$color-black-9: #424242;
$color-black-10: #222222;
$color-black-11: #141414;
$color-black-12: #00000059;
$color-black-13: #00000080;
$color-black-14: #00000026;
$color-black-15: #979797;
$color-black-rgb1: rgb(0 0 0 / 25%);
$color-black-rgb2: rgba(0, 0, 0, 0.25);
$color-black-rgb3: rgba(0, 0, 0, 0.5);
$color-black-15: #979797;

$color-gray-1: #f5f5f5;
$color-gray-2: #f0efef;
$color-gray-3: #e8e8e8;
$color-gray-4: #999;
$color-gray-5: #626262;
$color-gray-6: #6f6f6f;
$color-gray-7: #6c757d;
$color-gray-8: #7f828b;
$color-gray-9: #47494e;
$color-gray-10: #929eaa;
$color-gray-11: #aaa;
$color-gray-12: #d3d3d3;
$color-gray-13: #ddd;
$color-gray-14: #414141;
$color-gray-15: #808080;
$color-gray-16: #eee;
$color-gray-16f: #efefef;
$color-gray-17: #c9c9c9;
$color-gray-17b: #cbcbcb;
$color-gray-18: #ced4da;
$color-gray-19: #495057;
$color-gray-20: #a6a9b3;
$color-gray-21: #f2f2f2;
$color-gray-22: #a5a5a5;
$color-gray-23: #c4c4c4;
$color-gray-24: #898989;
$color-gray-25: #717171;
$color-gray-26: #cbced0;
$color-gray-27: #b2b2b2;
$color-gray-28: #a3a3a3;
$color-gray-29: #f0f0f0;
$color-gray-30: #8a8a8a;
$color-gray-31: #6c6c6c;
$color-gray-32: #b1b1b1;
$color-grey-33: #8080802e;
$color-grey-34: #80808070;
$color-grey-35: #3d3d3d;
$color-grey-36: #888;
$color-grey-37: #5a636c;
$color-gray-38: #3a3a3a;
$color-gray-39: #878787;
$color-gray-40: #9a9a9a;
$color-gray-41: #424242;
$color-gray-42: #aaaaaa;
$color-gray-th-42: #D8D8D8;
$color-gray-th-43: #00000040;
$color-gray-th-44: #ECECEC;
$color-gray-th-45: #e3eefc00;
$color-gray-42: #525965;
$color-gray-43: #525965;
$color-gray-44: #e7e7e7;
$color-gray-45: #c4c4c44d;
$color-gray-46: #c6c6c6;
$color-gray-47: #999999;
$color-gray-48: #424242;
$color-gray-49: #525965;
$color-gray-50: #525965;
$color-gray-51: #e7e7e7;
$color-gray-52: #c4c4c44d;
$color-gray-53: #888888;
$color-gray-54: #a1a1a1;
$color-gray-55: #a2a2a2;
$color-gray-56: #f4f5f8;
$color-gray-57: #d8d8d8;
$color-gray-58: #ccccccff;
$color-gray-59: #999999ff;
$color-gray-60: #cccccc;
$color-gray-61: #787880;
$color-gray-62: #e1e1e1;
$color-gray-63: #e9e9e9;
$color-gray-64: #a9a9a9;
$color-gray-65: #d5d5d5;
$color-gray-66: #f3f3f380;
$color-gray-67: #8136bd14;
$color-gray-68: #f3f3f380;
$color-gray-69: #8136bd14;
$color-gray-70: #71717130;
$color-gray-68: #5e5757;
$color-gray-69: #4A4A4A;
$color-gray-71: #d2d2d2;
$color-grey-72: rgba(120, 120, 128, 0.16);
$color-gray-73: #50555c;
$color-gray-74: #BBB3B3;
$color-gray-75: #f4f4f4;
$color-gray-76: #2F323C;
$color-gray-77: #8e8e8e;
$color-gray-78: #666;
$color-gray-79: #333333;
$color-gray-80: #454545;
$color-gray-81: #f7f7f7e8;
$color-gray-82: #71717114;
$color-gray-83: #7E7E7E;

$color-white-rgb1: rgba(255, 255, 255, 0.73);
$color-white-rgb2: rgba(255, 255, 255, 0.56);
$color-white-1: #fff;
$color-white-2: #f9f9f9;
$color-white-3: #f2f0f0;
$color-white-4: #fafafa;
$color-white-5: #f7f7f7;
$color-white-6: #d5e6fc;
$color-white-7: #f2f2f2;
$color-white-8: #ffdcdc;
$color-white-9: #e9ecef;
$color-white-10: #f8f8f8;
$color-white-11: #f3f3f3;
$color-white-12: #e5e5e5;
$color-white-13: #e6e6e6c2;
$color-white-14: #fcfcfc;
$color-white-15: #e3e9ff;
$color-white-16: #fcfeff;
$color-white-17: #afafaf;
$color-white-18: rgb(255 255 255 / 7%);
$color-white-19: #f4f4f4;
$color-white-20: #CECECE;

$color-blue-1: #295ff6;
$color-blue-2: #6f88ea;
$color-blue-3: #007bff;
$color-blue-4: #18a0fb;
$color-blue-5: #3d69e1;
$color-blue-6: #eaedf7;
$color-blue-7: #4260f2;
$color-blue-8: #11a6bc26;
$color-blue-9: #0028ff;
$color-blue-10: #6f88ea3b;
$color-blue-11: #214977;
$color-blue-12: #0000d8;
$color-blue-13: #0000d845;
$color-blue-14: #86b7fe;
$color-blue-th-14: #e6f1ff;
$color-blue-15: rgba(13, 110, 253, 0.25);
$color-blue-16: #435499;
$color-blue-17: #544cf1;
$color-blue-18: #43549926;
$color-blue-19: #7196b1;
$color-blue-20: #667799;
$color-blue-21: #66779914;
$color-blue-22: #5e7197;
$color-blue-22f: #4E5466;
$color-blue-23: #798cb1;
$color-blue-24: #6f88ea14;
$color-blue-25: #8bbafe;
$color-blue-26: #0d6efd40;
$color-blue-27: #f2f4ff;
$color-blue-28: #edf5ff;
$color-blue-29: #1874ec;
$color-blue-30: #3A71EA;

$color-green-1: #008000;
$color-green-2: #5db454;
$color-green-3: #5cc489;
$color-green-4: #0bb63f;
$color-green-5: #35d55a;
$color-green-6: #8ef58e66;
$color-green-7: #3ed43e;
$color-green-8: #0c5e0c;
$color-green-9: #4cbb87;
$color-green-10: #006d19;
$color-green-11: #bce4c5;
$color-green-12: #00ff15;
$color-green-13: #28a745;
$color-green-14: #15e31512;
$color-green-15: #32bd40db;
$color-green-16: #34c759;
$color-green-16b: #80D795;
$color-green-17: #0fff00;
$color-green-18: #1dff00;
$color-green-19: #638421;
$color-green-20: #84d78c;
$color-green-21: #6fd079;
$color-green-22: rgba(50, 189, 64, 0.7);
$color-green-23: rgb(111 208 121 / 20%);

$color-red-1: #eb0000;
$color-red-2: #f00;
$color-red-3: #de0100;
$color-red-4: #d8494a;
$color-red-5: #d93730;
$color-red-6: #ff0303;
$color-red-7: #ff00009c;
$color-red-8: #a52a2a;
$color-red-9: #a52a2a73;
$color-red-10: #d26759;
$color-red-11: #ff00001a;
$color-red-12: #e60f0f;
$color-red-13: #ed848e3d;
$color-red-14: #e52700;
$color-red-15: #da3b51db;
$color-red-rgb1: rgba(222, 1, 0, 0.6);
$color-red-16: #ff8181;
$color-red-17: #e00303;
$color-red-18: #e90000;
$color-red-19: #ff8181;
$color-red-20: #d34c00;
$color-red-23: #de010014;
$color-red-24: #dd5e5e;
$color-red-25: #C4585D;
$color-red-26: #909090;

$color-orange-1: #d77400;
$color-orange-2: #f19932;
$color-orange-3: #ab6008;
$color-orange-4: #f67a00;
$color-orange-5: #eb630099;
$color-orange-6: #eb6300;
$color-orange-7: #ffb656;
$color-orange-8: #f5a551;
$color-orange-9: #ff9700;
$color-orange-10: #ffb65640;
$color-organge-rgb-1: rgba(235, 99, 0, 0.6);
$color-orange-11: #ce745f;
$color-orange-12: #be6a57;
$color-orange-13: #e47f69;
$color-orange-14: #fd8002;
$color-orange-15: #f88700;
$color-orange-16: #eb6200;
$color-orange-17: #fdb927;
$color-orange-18: #f4b53f14;
$color-orange-19: #f4b53f;

$color-purple-1: #93a5fc;
$color-purple-2: #7287d3;
$color-purple-3: #aebae0;
$color-purple-4: #b789c7;
$color-purple-5: #b70eb754;
$color-purple-6: #b70eb7;
$color-purple-7: #8136bd;
$color-purple-8: #8136bd24;

$color-yellow-1: #ffc1075c;
$color-yellow-2: #f7dc6f;
$color-yellow-3: #fff4c6d6;
$color-yellow-4: #fffc14;
$color-yellow-5: #fff8bb;
$color-yellow-6: #f4b53f;
$color-yellow-7: #feeb7a;

$color-pink-1: #f68;

$color-ui-primary: $color-blue-1;
$color-ui-primary-hover: $color-blue-5;
$color-ui-primary-dark: $color-blue-5;
$color-ui-primary-disabled: $color-blue-2;
$color-ui-secondary: $color-gray-5;
$color-ui-secondary-hover: $color-gray-9;
$color-ui-secondary-dark: $color-gray-9;
$color-ui-secondary-disabled: $color-gray-4;
$color-ui-success: $color-green-1;
$color-ui-success-hover: $color-green-2;
$color-ui-danger: $color-red-3;
$color-ui-danger-hover: $color-red-2;
$color-ui-danger-dark: $color-red-2;
$color-ui-danger-disabled: $color-red-1;
$color-ui-warning: $color-orange-11;
$color-ui-warning-hover: $color-orange-12;
$color-ui-warning-dark: $color-orange-12;
$color-ui-warning-disabled: $color-orange-13;

$color-ui-info: $color-blue-2;
$color-ui-info-hover: $color-purple-1;
$color-ui-info-dark: $color-purple-1;
$color-ui-info-disabled: $color-purple-3;
$color-ui-dark: $color-black-5;
$color-ui-dark-hover: $color-black-4;
$color-ui-dark-dark: $color-black-2;
$color-ui-dark-disabled: $color-black-4;
$color-ui-white: $color-white-1;
$color-ui-white-hover: $color-gray-1;
$color-ui-white-dark: $color-gray-1;
$color-ui-white-disabled: $color-gray-1;
$color-ui-light: $color-white-5;
$color-ui-light-hover: $color-gray-23;
$color-ui-light-dark: $color-gray-23;
$color-ui-light-disabled: $color-gray-1;
$black: $color-black-1;
$black-1: $color-black-2;
$dark-gray: $color-gray-5;
$dark-gray-1: $color-gray-7;
$dark-gray-2: $color-gray-9;
$dark-gray-3: $color-gray-8;
$dark-gray-4: $color-gray-6;
$dark-gray-5: #4a5da814;
$dark-gray-6: #544cf10c;
$dark-gray-7: #62626214;
$dark-gray-8: #e2e2e2;

$gray: $color-gray-4;
$gray-1: $color-gray-10;
$gray-2: $color-gray-11;
$light-gray: #dbdbdb;
$light-gray-2: #c4c4c4;
$light-gray-3: #b7b7b7;
$white: $color-white-1;
$white-2: #dee2e6;
$white-3: #f6f6f6;
$white-4: #f8f9fa;
$white-5: #e8e8e8;
$white-6: $color-white-7;
$white-7: #eee;
$white-8: #dfdfdf;
$white-9: #f6f4f5;
$white-10: #E5E5E6;

$primary: $color-blue-1;
$secondary: #36a60e;
$light-blue: #29acf6;
$light-cyan: #0dcaf0;
$white-cyan: #add8e6;
$orange: #d77400;
$light-orange: #f19932;
$brown: #ab6008;
$red: #f00;
$red-1: #eb0000;
$blue: #00f;
$color-green-3: #32bd40;
$color-green-20: #32bd6d14;

$hr-opacity: 0.25 !default;
$light-opacity: rgb(153, 153, 153, 0.1);
$zindex-search-overlay: 9999;
$drop-shadow: rgba(0, 0, 0, 0.15);
$color-transparent: transparent;
$drop-shadow1: rgba(0, 0, 0, 0.25);
$drop-shadow2: rgba(0, 0, 0, 0.05);
$red-rgba: rgba(255, 0, 0, 0.48); //for linear gradient
$yellow-rgba: rgba(239, 219, 37, 0.48);
$light-blue-rgba: rgba(111, 136, 234, 0.08);

$input-mobile-border-color: #e8e8e8;
