.confirm-listing {
  &-table-container {
    min-height: 400px;
  }

  tr td {
    text-transform: capitalize;
    vertical-align: middle;
  }

  .product-image {
    width: 100px;
  }

  .delete-listing-product {
    cursor: pointer;
  }

  .edit-list-btn,
  .post-list-btn {
    font-size: 20px;
    height: auto;
    line-height: 24px;
    max-width: 48%;
    padding: .5em;
  }
}
