$loading-wrapper-bg: rgba(0, 0, 0, 0.01);

.create-listing {
  .top-bar {
    & > div {
      flex: 1;
    }

    .enter-csv-file button {
      color: $black;
      font-size: 20px;
      font-weight: 700;
      height: 45px;
      line-height: 24px;
      transition: color 0.3s ease, opacity 0.3s ease;

      &:hover {
        color: $white;
      }

      &.disabled {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  // Product Details
  .product {
    &-image {
      margin-top: 1.5em;
      min-height: 300px;
      text-align: center;

      img {
        width: 80%;
      }
    }

    &-details {
      min-height: 300px;

      &-title {
        color: $black;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
      }

      &-sku,
      &-color {
        color: $black;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  .size-chart {
    border: 1px solid $black;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: 0;
    max-width: 520px;
    padding: 22px 30px;
    position: relative;

    .loading-wrapper {
      align-items: center;
      background: $loading-wrapper-bg;
      display: flex;
      height: 100%;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &-title {
      color: $black;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
    }

    &-box {
      margin: auto;
      width: calc(87px * 5);

      @media (max-width: 1300px) {
        margin: auto;
        width: calc(87px * 4);
      }
    }

    .price-box {
      align-items: center;
      border: 0.5px solid $gray;
      border-radius: 5px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      height: 75px;
      justify-content: center;
      margin: 6px;
      padding: 8px;
      transform: all 0.3s ease;
      width: 75px;

      &-size {
        color: $black;
        font-size: 24px;
        line-height: 29px;
        transform: all 0.3s ease;
      }

      &:hover,
      &.active {
        background-color: $black;
        color: $white;
        cursor: pointer;
        opacity: 0.8;

        .price-box-size {
          color: $white;
        }
      }

      &.active {
        opacity: 1;
      }
    }
  }

  // Price Listings
  .price-listings {
    margin-bottom: 3em;

    &-title {
      border-bottom: 1px solid $gray;
      color: $black;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      margin-bottom: 8px;
      padding: 0.7em 0;
    }

    &-label,
    &-value {
      color: $black;
      font-size: 15px;
      line-height: 18px;
    }

    &-label {
      font-weight: 700;
    }
  }

  // Listing Fields
  .listing-fields {
    input {
      border: 1px solid $black;
      border-radius: 5px;
      box-sizing: border-box;
      color: $black;
      font-size: 20px;
      line-height: 24px;
      padding: 0.5em 0.7em;
      width: 45%;

      &::placeholder {
        color: $dark-gray;
        font-style: italic;
      }
    }

    strong {
      color: $black;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
    }

    & > div {
      margin-top: 18px;
    }
  }

  .form-checkbox {
    align-items: center;
    display: flex;

    input[type='checkbox'] {
      cursor: pointer;
      display: block;
      margin-left: 3px;
      margin-top: 0;
      padding: 0;
      transform: scale(1.5);
      width: auto;
    }

    .form-check-label {
      color: $black;
      display: block;
      font-size: 20px;
      line-height: 24px;
      margin-left: 25px;
    }
  }

  .trade-btn {
    background-color: $primary;
    color: $white-3;
    font-size: 20px;
    font-weight: 700;
    height: auto;
    line-height: 24px;
    padding: 0.5em;
    width: 45%;
  }

  .add-to-list-btn,
  .confirm-list-btn {
    font-size: 20px;
    font-weight: 700;
    height: auto;
    line-height: 24px;
    padding: 0.5em;
  }

  .create-inventory-btn-wrapper {
    margin-left: auto;
    margin-right: 0;
    max-width: 520px;
  }

  .current-listings {
    background: $white-3;
    border-radius: 5px;
    flex: 1;
    margin: 40px 0 47px;
    padding: 12px;

    &-title {
      border-bottom: 1px solid $gray;
      color: $black;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      padding-bottom: 0.5em;
    }
  }

  .listing {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-empty {
      color: $dark-gray;
      font-size: 15px;
      font-style: italic;
      line-height: 18px;
    }

    .name {
      color: $black;
      font-size: 15px;
      font-weight: 700;
      line-height: 18px;
      max-width: 45%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .price {
      color: $black;
      font-size: 15px;
      font-weight: 600;
      line-height: 18px;
    }

    .delete-listing-product {
      cursor: pointer;
    }
  }
}

.dropdown-options {
  background: $white-3;
  border: 1px solid $white-cyan;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  margin-top: 5px;
  max-height: 400px;
  overflow-y: auto;
  padding: 0.5em;
  position: absolute;
  width: max-content;
  z-index: 200;

  .dropdown-option {
    border-radius: 5px;
    color: $dark-gray;
    margin-bottom: 0.3em;
    padding: 0.5em 1em;
    text-transform: capitalize;
    transform: all 0.4s ease;

    img {
      width: 80px;
    }

    &-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background: $gray-1;
      color: $white;
      cursor: pointer;
    }
  }
}

.sell-now {
  .listing-content {
    input {
      border: 1px solid $black;
      border-radius: 5px;
      box-sizing: border-box;
      color: $black;
      font-size: 20px;
      line-height: 24px;
      padding: 0.5em 0.7em;
      width: 48%;

      &::placeholder {
        color: $dark-gray;
      }
    }
  }

  .product {
    &-image {
      margin-top: 1.5em;
      min-height: 300px;
      text-align: center;

      img {
        width: 80%;
      }
    }

    &-details {
      &-title {
        color: $black;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
      }

      &-sku,
      &-color {
        color: $black;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  &-btn {
    background-color: $primary;
    color: $white-3;
    font-size: 20px;
    height: auto;
    line-height: 24px;
    margin-top: 80px;
    padding: 0.5em;
    width: 100%;
  }

  .breakdown-price {
    background: $white-4;
    border: 0;
    border-radius: 5px;
    padding: 12px 17px;
  }

  .payment-details {
    border-bottom: 1px solid $gray;
    border-top: 1px solid $gray;
    padding: 10px 0 0;

    &-info {
      color: $dark-gray;
      font-size: 14px;
      font-weight: 600;
      line-height: 17px;
    }

    &-label {
      color: $dark-gray;
      font-size: 16px;
      line-height: 19px;
    }

    &-price {
      color: $dark-gray;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
    }
  }

  .add-discount-btn {
    background-color: transparent;
    border: 0;
    color: $dark-gray;
    font-size: 16px;
    line-height: 19px;
  }

  .total-payout {
    margin-top: 10px;

    .payment-details-label,
    .payment-details-price {
      color: $black;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
    }
  }
}
