.payout-details-container {
  background-color: $color-white-4;
  padding: 0;
}

.section-payout-method {
  padding: 30px 90px;

  .title {
    @include body-1-bold;
    color: $color-black-1;
  }

  .desc {
    @include body-1-regular;
    color: $color-gray-5;
  }

  .note {
    @include body-4-regular;
    color: $color-gray-5;
  }

  .payout-form {
    padding: 37px 13px;

    label {
      @include body-4-normal;
    }

    .row {
      margin-bottom: 26px;
    }

    input {
      @include body-4-regular;
      background-color: $color-white-1;
      border: 1px solid $color-gray-4;
      border-radius: 25px;
      color: $color-black-1;
      padding: 7px 9px;

      &::placeholder {
        // Chrome, Firefox, Opera, Safari 10.1+
        color: $color-gray-5;
        opacity: 1; // Firefox
      }

      &:-ms-input-placeholder {
        // Internet Explorer 10-11
        color: $color-gray-5;
      }

      &::-ms-input-placeholder {
        // Microsoft Edge
        color: $color-gray-5;
      }
    }
  }

  .table {
    td {
      @include body-3-regular;
      border: 0;
      border-bottom: 1px solid $color-gray-4;
      padding: 28px 0;
      position: relative;

      .default-checkbox {
        @include body-6-regular;
        position: absolute;
        right: 0;

        label {
          cursor: pointer;
          padding-top: 4px !important;
        }
      }
    }

    th {
      border: 0;
      border-bottom: 1px solid $color-gray-4;
      padding: 18px 0;
    }
  }
}
