$button-small-height: 30px;
$button-medium-height: 38px;
$button-large-height: 46px;

@mixin button-colors(
  $background,
  $foreground,
  $border,
  $background-hover,
  $foreground-hover,
  $border-hover,
  $background-active,
  $foreground-active,
  $border-active,
  $background-disabled,
  $foreground-disabled,
  $border-disabled
) {
  background-color: $background;
  border-color: $border;
  color: $foreground;

  &:hover,
  &.hover {
    background-color: $background-hover;
    border-color: $border-hover;
    color: $foreground-hover;
  }

  &:active,
  &.active,
  &:focus,
  &.focus,
  &:visited,
  &.visited,
  &:not(:disabled):not(.disabled):active {
    background-color: $background-active;
    border-color: $border-active;
    color: $foreground-active;
  }

  &.disabled,
  &:disabled {
    background-color: $background-disabled;
    border-color: $border-disabled;
    color: $foreground-disabled;
    cursor: not-allowed;
  }
}
