.form-control {
  @include body-4-regular;
  background-color: $color-gray-1;
  border: 0;
  border-radius: 5px;
  box-shadow: inset 0 0 0 transparent !important;
  color: $color-black-1;
  padding: 10px 15px;

  &::placeholder {
    // Chrome, Firefox, Opera, Safari 10.1+
    color: $color-gray-5;
    opacity: 1; // Firefox
  }

  &:-ms-input-placeholder {
    // Internet Explorer 10-11
    color: $color-gray-5;
  }

  &::-ms-input-placeholder {
    // Microsoft Edge
    color: $color-gray-5;
  }

  &:focus {
    background-color: $color-gray-1;
    border: 0;
    color: $color-black-1;
  }
}
